body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c2e9fb, #f9f7d9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    animation: fadeIn 1s ease;
}

h1{
    color: #2563eb;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #dbeafe;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}


button{
    background: linear-gradient(to right, #2563eb, #7c3aed);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover{
    background: purple;
    transform: scale(1.05);
}

input:focus{
    border: 2px solid blue;
    border-color: #2563eb;
    outline: none;
    box-shadow: 0 0 8px rgba(37,99,235,0.5);
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 500px){
    .container{
        width: 90%;
    }
}